<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CheckManager.Properties.Settings.CheckManagerConnectionString"
            connectionString="Data Source=JOSEPH-PC\SQLEXPRESS2017;Initial Catalog=pbsdataMB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CheckManager.Properties.Settings.CheckManagerConnectionString1"
            connectionString="Data Source=JOSEPH-PC\SQLEXPRESS2017;Initial Catalog=CheckManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>