<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	  <section name="QuickSales.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</sectionGroup>
	<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-await" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<appSettings>
	  <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="QBSales-Log.txt" />
			<appendToFile value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
		</appender>
		
		 <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			  <to value="logsInsightSoftware@Outlook.com" />
			  <from value="HillsAndValley@gmail.com" />
			  <bufferSize value="512" />
			  <lossy value="true" />
			  <subject value="QuickSales" />
			  <smtpHost value="smtp-mail.outlook.com" />
			  <port value="587" />
			  <authentication value="Basic" />
			  <username value="logsInsightSoftware@outlook.com" />
			  <password value="Test!@#123" />
			  <EnableSsl value="true" />
			  <evaluator type="log4net.Core.LevelEvaluator">
							<threshold value="ERROR" />
			  </evaluator>
			  <layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
			  <filter type="log4net.Filter.LevelRangeFilter">
						<levelMin value="INFO" />
						<levelMax value="FATAL" />
			  </filter>
		</appender>
		<appender name="LossyFileAppender" type="log4net.Appender.BufferingForwardingAppender">
			<bufferSize value="100" />
			<lossy value="true" />
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="ERROR" />
			</evaluator>
			<appender-ref ref="FileAppender" />
			<appender-ref ref="SmtpAppender" />
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="LossyFileAppender" />
			
		</root>
	</log4net>
  <system.net>
	<mailSettings>
	  <smtp from="D4@HillandValley.com">
		<network host="mail.insight-software.biz" port="26" userName="logs+insight-software.biz" password="Test123!" defaultCredentials="false" />
	  </smtp>
	</mailSettings>
  </system.net>
  <connectionStrings>
	<add name="RMSModel" connectionString="metadata=res://*/QuickSales.csdl|res://*/QuickSales.ssdl|res://*/QuickSales.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALPHAQUEST-PC\SQLEXPRESS2016;initial catalog=QuickSales-enterprise;password=pa$$word;user=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="QuickSales.Properties.Settings.RMSModel" connectionString="metadata=res://*/RMSEntities.csdl|res://*/RMSEntities.ssdl|res://*/RMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=D4-HP\SQLEXPRESS2012;initial catalog=RMSPos;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
	<QuickSales.Properties.Settings>
	  <setting name="QBCompanyFile" serializeAs="String">
		<value><![CDATA[Computer Name=alphaquest-pc;Company Data=hills & valley;Version=11]]></value>
	  </setting>
	  <setting name="ServerMode" serializeAs="String">
		<value>True</value>
	  </setting>
	</QuickSales.Properties.Settings>
  </applicationSettings>
  <entityFramework>
	<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	<providers>
	  <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
	</providers>
  </entityFramework>
  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <dependentAssembly>
		<assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="PresentationFramework" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="PresentationCore" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-1.9.2.0" newVersion="1.9.2.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.Practices.Prism.UnityExtensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-5.0.1.0" newVersion="5.0.1.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.Practices.Prism.SharedInterfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
	  </dependentAssembly>
	</assemblyBinding>
  </runtime>
</configuration>
