<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="RMSModel" connectionString="metadata=res://*/QuickSales.csdl|res://*/QuickSales.ssdl|res://*/QuickSales.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=d4-hp\SQLEXPRESS2012;initial catalog=QuickSales;password=pa$$word;user=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>
</configuration>