<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MNIB_Distribution_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MNIB_Distribution_Manager.Properties.Settings.MNIBDistributionManagerConnectionString"
            connectionString="Data Source=winserv;Initial Catalog=MNIBDistributionManager;user=sa;password=CounterPoint8"
            providerName="System.Data.SqlClient" />
        <add name="MNIB_Distribution_Manager.Properties.Settings.MNIBLabelsDBConnectionString"
            connectionString="Data Source=winserv;Initial Catalog=MNIBTrackerDB;user=sa;password=CounterPoint8"
            providerName="System.Data.SqlClient" />
        <add name="MNIB_Distribution_Manager.Properties.Settings.MNIBDistributionManagerConnectionString1"
            connectionString="Data Source=Winserv;Initial Catalog=MNIBDistributionManager;Persist Security Info=True;User ID=sa;Password=CounterPoint8"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
		<!--connectionString="Data Source=alphaquest-pc\sqlexpress2012;Initial Catalog=MNIBDistributionManager;integrated security=true"-->
		<supportedRuntime version="v2.0.50727"/></startup>
    <applicationSettings>
        <MNIB_Distribution_Manager.Properties.Settings>
            <setting name="TSCPrinter" serializeAs="String">
                <value>TSC TTP-244CE</value>
            </setting>
        </MNIB_Distribution_Manager.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
