<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NH.DBContext.Properties.Settings.DataBaseConnectionString"
            connectionString="Data Source=ALPHAQUEST-PC\SQLEXPRESS2016;Initial Catalog=Amoeba-MRManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>