<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PayrollManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.net>
    <mailSettings>
      <smtp from="D4@HillandValley.com">
        <network host="mail.insight-software.biz" port="26" userName="logs+insight-software.biz" password="Test123!" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--<connectionStrings>
    <add name="PayrollManager.Properties.Settings.PayrollDB" connectionString="metadata=res://*/DataLayer.PayrollDB.csdl|res://*/DataLayer.PayrollDB.ssdl|res://*/DataLayer.PayrollDB.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS2016;AttachDbFilename=C:\Prism\GitRepositiory\payroll\PayRoll\PayrollManager\PayrollDB.mdf;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True;App=EntityFramework';" />
    <add name="PayrollDB" connectionString="metadata=res://*/DataLayer.PayrollDB.csdl|res://*/DataLayer.PayrollDB.ssdl|res://*/DataLayer.PayrollDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS2016;AttachDbFilename=C:\Prism\GitRepositiory\payroll\PayRoll\PayrollManager\PayrollDB.mdf;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="PayrollManager.Properties.Settings.PayrollDB" connectionString="metadata=res://*/DataLayer.PayrollDB.csdl|res://*/DataLayer.PayrollDB.ssdl|res://*/DataLayer.PayrollDB.msl;provider=System.Data.SqlClient;provider connection string='Data Source=ALPHAQUEST-PC\SQLEXPRESS2016;Initial Catalog=PayrollDB;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True;App=EntityFramework';" />
    <add name="PayrollDB" connectionString="metadata=res://*/DataLayer.PayrollDB.csdl|res://*/DataLayer.PayrollDB.ssdl|res://*/DataLayer.PayrollDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ALPHAQUEST-PC\SQLEXPRESS2016;Initial Catalog=PayrollDB;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PayrollManager.Properties.Settings>
      <setting name="MachineName" serializeAs="String">
        <value>Shula@CCCU</value>
      </setting>
    </PayrollManager.Properties.Settings>
  </applicationSettings>
</configuration>