<?xml version="1.0"?>
<configuration>


  <connectionStrings>
    <!--<add name="RMSModel" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=alphaquest-pc\sqlexpress2012;initial catalog=QuickSales;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="RMSModel" connectionString="metadata=res://*/QuickSales.csdl|res://*/QuickSales.ssdl|res://*/QuickSales.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALPHAQUEST-PC\SQLEXPRESS2012;initial catalog=QuickSales;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
 
  

</configuration>
