<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="C:\Prism\GitRepositiory\MRManager\Amoeba\T4 Templates\Master-DataEntities.ttinclude" #>
<#
// <copyright file="MRManger-Master.tt" company="">
//  Copyright © . All Rights Reserved.
// </copyright>

    GenerateDataEntities("MRManager");
#>
